<app-center-form
  [form_fields_validation]="form_fields"
  [center_form_tags]="team_form_tags"
  [action_url]="action_url"
  [dropdown]="players"
  [form_title]="form_title"
  [edit]="edit_team">
</app-center-form>

<div class="table-responsive">
  <div id="alt_pagination_wrapper" class="dataTables_wrapper">
    <h4><strong> Teams </strong></h4>
    <table id="alt_pagination" class="table table-striped table-bordered display text-nowrap dataTable"
    aria-describedby="alt_pagination_info">
      <thead>
        <tr>
          <th>#ID</th>
          <th>Name</th>
          <th>State</th>
          <th>City</th>
          <th>Contact</th>
          <th>Captain</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let team of teams">
          <td>{{team.id}}</td>
          <td>{{team.name | titlecase}}</td>
          <td>{{team.state ?? '-' }}</td>
          <td>{{team.city ?? '-' }}</td>
          <td>{{team.contact ?? '-' }}</td>
          <td>{{team.captain.name | titlecase}}</td>
          <td>{{team.status | titlecase}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
