<div class="container-fluid">
  <div class="card-body">
    <div class="card">
      <div class="card-body">
        <form class="form-floating">
          <button type="submit" class="btn btn-sm btn-warning float-end">Reset</button>
          <button type="submit" class="btn btn-sm btn-primary float-end">Submit</button>
          <h5 class="card-title fw-semibold mb-4">{{form_type}} Match</h5>
          <div class="row">
            <div class="col-sm mb-3">
              <label for="team1" class="form-label">Team1</label>
              <select class="form-select" formControlName="team1">
                <option selected>Select Team1</option>
                <option value="all_rounder">All Rounder</option>
                <option value="batsman">Batsman</option>
                <option value="bowler">Bowler</option>
                <option value="filder">Filder</option>
              </select>
            </div>
            <div class="col-sm mb-3">
              <label for="team2" class="form-label">Team2</label>
              <select class="form-select" formControlName="team2">
                <option selected>Select Team2</option>
                <option value="all_rounder">All Rounder</option>
                <option value="batsman">Batsman</option>
                <option value="bowler">Bowler</option>
                <option value="filder">Filder</option>
              </select>
            </div>
            <div class="col-sm mb-3">
              <label for="toss_winer_team" class="form-label">Toss Winner Team</label>
              <select class="form-select" formControlName="toss_winer_team">
                <option selected>Select Toss Winner Team</option>
                <option value="all_rounder">All Rounder</option>
                <option value="batsman">Batsman</option>
                <option value="bowler">Bowler</option>
                <option value="filder">Filder</option>
              </select>
            </div>
            <div class="col-sm mb-3">
              <label for="toss_dicision" class="form-label">Toss Dicission</label>
              <select class="form-select" formControlName="toss_dicision">
                <option selected>Select Toss Dicision</option>
                <option value="batsman">Batsman</option>
                <option value="bowler">Bowler</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-sm mb-3">
              <label for="start_at" class="form-label">Match Start Time</label>
              <input type="datetime-local" class="form-control" formControlName="start_at">
            </div>
            <div class="col-sm mb-3">
              <label for="end_at" class="form-label">Match End Time</label>
              <input type="datetime-local" class="form-control" formControlName="end_at">
            </div>
            <div class="col-sm mb-3">
              <label for="number_of_overs" class="form-label">Number Of Overs</label>
              <select class="form-select" formControlName="number_of_overs">
                <option selected>Select Overs</option>
                <option value="3">3 Overs</option>
                <option value="5">5 Overs</option>
                <option value="7">7 Overs</option>
                <option value="10">10 Overs</option>
                <option value="15">15 Overs</option>
                <option value="20">20 Overs</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-sm mb-3">
              <input type="checkbox" class="form-check-input" formControlName="is_draw" id="is_draw">
              <label class="form-label" for="is_draw">Is Draw ?</label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="table-responsive">
  <div id="alt_pagination_wrapper" class="dataTables_wrapper">
    <h4><strong> {{match_filter | titlecase}} Matches </strong></h4>
    <table id="alt_pagination" class="table table-striped table-bordered display text-nowrap dataTable"
      aria-describedby="alt_pagination_info">
      <thead>
        <tr>
          <th class="sorting sorting_asc" tabindex="0" aria-controls="alt_pagination" rowspan="1" colspan="1"
            aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 194.547px;">Name
          </th>
          <th class="sorting" tabindex="0" aria-controls="alt_pagination" rowspan="1" colspan="1"
            aria-label="Position: activate to sort column ascending" style="width: 320.266px;">Position</th>
          <th class="sorting" tabindex="0" aria-controls="alt_pagination" rowspan="1" colspan="1"
            aria-label="Office: activate to sort column ascending" style="width: 143.953px;">Office</th>
          <th class="sorting" tabindex="0" aria-controls="alt_pagination" rowspan="1" colspan="1"
            aria-label="Age: activate to sort column ascending" style="width: 62.7031px;">Age</th>
          <th class="sorting" tabindex="0" aria-controls="alt_pagination" rowspan="1" colspan="1"
            aria-label="Start date: activate to sort column ascending" style="width: 132.625px;">Start date</th>
          <th class="sorting" tabindex="0" aria-controls="alt_pagination" rowspan="1" colspan="1"
            aria-label="Salary: activate to sort column ascending" style="width: 126.906px;">Salary</th>
        </tr>
      </thead>
      <tbody>
        <tr class="odd">
          <td class="sorting_1">Airi Satou</td>
          <td>Accountant</td>
          <td>Tokyo</td>
          <td>33</td>
          <td>2008/11/28</td>
          <td>$162,700</td>
        </tr>
        <tr class="even">
          <td class="sorting_1">Angelica Ramos</td>
          <td>Chief Executive Officer (CEO)</td>
          <td>London</td>
          <td>47</td>
          <td>2009/10/09</td>
          <td>$1,200,000</td>
        </tr>
        <tr class="odd">
          <td class="sorting_1">Ashton Cox</td>
          <td>Junior Technical Author</td>
          <td>San Francisco</td>
          <td>66</td>
          <td>2009/01/12</td>
          <td>$86,000</td>
        </tr>
        <tr class="even">
          <td class="sorting_1">Bradley Greer</td>
          <td>Software Engineer</td>
          <td>London</td>
          <td>41</td>
          <td>2012/10/13</td>
          <td>$132,000</td>
        </tr>
        <tr class="odd">
          <td class="sorting_1">Brenden Wagner</td>
          <td>Software Engineer</td>
          <td>San Francisco</td>
          <td>28</td>
          <td>2011/06/07</td>
          <td>$206,850</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>