<!-- <div class="container-fluid">
  <div class="card-body">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="match_form" class="form-floating" (ngSubmit)="saveMatches()">
          <button type="submit" class="btn btn-sm btn-warning float-end" (click)="resert()">Reset</button>
          <button type="submit" class="btn btn-sm btn-primary float-end" style="margin-right: 10px;" [disabled]="match_form.invalid">Submit</button>
          <h5 class="card-title fw-semibold mb-4">{{form_type}} Match</h5>
          <div class="row">
            <div class="col-sm mb-3">
              <label for="team1" class="form-label">Team1</label>
              <select class="form-control" formControlName="team1_id">
                <option value="">Select Team1</option>
                <option *ngFor="let team of teams" [value]="team.id">{{team.name | titlecase}} - {{team.city | titlecase}}</option>
              </select>
              <div *ngIf="match_form.get('team1_id')?.touched && match_form.get('team1_id')?.invalid">
                <small *ngIf="match_form.get('team1_id')?.errors?.['required']" class="error-message">
                  Team1 is required.
                </small>
              </div>
            </div>
            <div class="col-sm mb-3">
              <label for="team2" class="form-label">Team2</label>
              <select class="form-control" formControlName="team2_id">
                <option value="">Select Team2</option>
                <option *ngFor="let team of teams" [value]="team.id">{{team.name | titlecase}} - {{team.city | titlecase}}</option>
              </select>
            </div>
            <div class="col-sm mb-3">
              <label for="toss_winer_team" class="form-label">Toss Winner Team</label>
              <select class="form-control" formControlName="toss_winer_team_id">
                <option value="">Select Toss Winner Team</option>
                <option *ngFor="let team of teams" [value]="team.id">{{team.name | titlecase}} - {{team.city | titlecase}}</option>
              </select>
            </div>
            <div class="col-sm mb-3">
              <label for="toss_dicision" class="form-label">Toss Dicission</label>
              <select class="form-control" formControlName="toss_dicision">
                <option value="">Select Toss Dicision</option>
                <option value="bating">Bating</option>
                <option value="filding">Filding</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-sm mb-3">
              <label for="start_at" class="form-label">Match Start Time</label>
              <input type="datetime-local" class="form-control" formControlName="start_at">
            </div>
            <div class="col-sm mb-3">
              <label for="end_at" class="form-label">Match End Time</label>
              <input type="datetime-local" class="form-control" formControlName="end_at">
            </div>
            <div class="col-sm mb-3">
              <label for="number_of_overs" class="form-label">Number Of Overs</label>
              <select class="form-control" formControlName="number_of_overs">
                <option value="">Select Overs</option>
                <option value="3">3 Overs</option>
                <option value="5">5 Overs</option>
                <option value="7">7 Overs</option>
                <option value="10">10 Overs</option>
                <option value="15">15 Overs</option>
                <option value="20">20 Overs</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-sm mb-3">
              <input type="checkbox" class="form-check-input" formControlName="is_draw" id="is_draw">
              <label class="form-label" for="is_draw">Is Draw ?</label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->

<!-- <input type="datetime-local" class="form-control" value="2017-06-01T08:30"> -->

<app-center-form
  *ngIf="teams"
  [form_fields_validation]="form_fields"
  [center_form_tags]="match_form_tags"
  [action_url]="action_url"
  [form_title]="form_title"
  [edit]="edit_match"
  (formData)="setPayload($event)"
  >
</app-center-form>

<div class="table-responsive"  style="height: 500px; overflow: scroll;">
  <div class="float-end" (change)="getMatches($event)">
    <select class="form-control" #filter>
      <option value="upcomming">Upcomming</option>
      <option value="active">Active</option>
      <option value="finished">Finished</option>
      <option value="draw">Draw</option>
      <option value="">All</option>
    </select>
  </div>
  <h5 class="mt-2">Matches</h5>
  <table class="table table-striped table-hover table-bordered table-sm">
    <thead>
      <!-- <tr>
        <th class="cursor-pointer" (click)="getMatchesByOrder('id')">#ID
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up float-end" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5m-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5"/>
          </svg>
        </th>
        <th class="cursor-pointer" (click)="getMatchesByOrder('team1_id')">Match
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up float-end" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5m-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5"/>
          </svg>
        </th>
        <th class="cursor-pointer" (click)="getMatchesByOrder('number_of_overs')">No.Of.Overs
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up float-end" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5m-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5"/>
          </svg>
        </th>
        <th class="cursor-pointer" (click)="getMatchesByOrder('start_at')">Start At
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up float-end" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5m-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5"/>
          </svg>
        </th>
        <th class="cursor-pointer" (click)="getMatchesByOrder('end_at')">End At
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up float-end" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5m-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5"/>
          </svg>
        </th>
        <th class="cursor-pointer" (click)="getMatchesByOrder('status')">Status
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up float-end" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5m-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5"/>
          </svg>
        </th>
        <th colspan="2">Action</th>
      </tr> -->
      <tr>
        <th class="cursor-pointer" *ngFor="let header of headers; let last = last" (click)="getMatchesByOrder(header.order)">
          {{header.name}}
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up float-end" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5m-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5"/>
          </svg>
        </th>
        <th colspan="2">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let match of matches">
        <td>{{match.id }}</td>
        <td>{{match.team1.name +'-'+ match.team1.city | titlecase}} VS {{match.team2.name +'-'+ match.team2.city |
          titlecase | slice:0:10}}</td>
        <td>{{match.number_of_overs}} Overs</td>
        <td>{{match.start_at | date: 'E MMM d, y, h:mm:ss a'}}</td>
        <td>{{match.end_at | date: 'MMM d, y, h:mm:ss a'}}</td>
        <td>{{match.status | titlecase}}</td>
        <td><button (click)="editMatch(match.id)" class="btn btn-sm btn-warning">Edit</button></td>
        <td><button (click)="deleteMatch(match.id)" class="btn btn-sm btn-danger">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>