<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
  data-sidebar-position="fixed" data-header-position="fixed">
  <div
    class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
    <div class="d-flex align-items-center justify-content-center w-100">
      <div class="row justify-content-center w-100">
        <div class="col-md-8 col-lg-6 col-xxl-3">
          <div class="card mb-0">
            <div class="card-body">
              <a href="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
                <img src="../assets/images/logos/dark-logo.svg" width="180" alt="">
              </a>
              <p class="text-center">Enjoy Scorebook</p>
              <form [formGroup]="registration_form" (ngSubmit)="registration()">
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control" formControlName="email" id="email" aria-describedby="emailHelp">
                  <div *ngIf="registration_form.get('email')?.touched && registration_form.get('email')?.invalid">
                    <small *ngIf="registration_form.get('email')?.errors?.['required']" class="error-message">
                      Email is required.
                    </small>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" class="form-control" formControlName="password" id="password">
                  <div *ngIf="registration_form.get('password')?.touched && registration_form.get('password')?.invalid">
                    <!-- <small *ngIf="registration_form.get('password')?.errors?.['required']" class="error-message">
                      Password is required.
                    </small>
                    <small *ngIf="registration_form.get('password')?.errors?.['minlength']" class="error-message">
                      Password should be longer than 5 characters!
                    </small>
                    <small *ngIf="registration_form.get('password')?.errors?.['maxlength']" class="error-message">
                      Password can't be longer than 12 characters!
                    </small> -->
                  </div>
                </div>

                <div class="mb-4">
                  <label for="confirm_password" class="form-label">Confirm Password</label>
                  <input type="password" class="form-control" formControlName="confirm_password" id="confirm_password" placeholder="Enter Confirm Password">
                  <div *ngIf="registration_form.get('confirm_password')?.touched">
                    <!-- <small *ngIf="registration_form.hasError('mismatch')" class="error-message">
                      Confirm password should match with Password!
                    </small>
                    <small *ngIf="registration_form.get('confirm_password')?.errors?.['required']" class="error-message">
                      Confirm Password is required.
                    </small> -->
                  </div>
                </div>

                <button
                  [disabled]="registration_form.invalid"
                  ngClass="{{registration_form.invalid ? 'btn btn-sm btn-outline-primary w-100 fs-4 mb-4 rounded-2': 'btn btn-sm btn-primary w-100 fs-4 mb-4 rounded-2'}}"
                  >Register
                </button>

                <div class="d-flex align-items-center justify-content-center">
                  <p class="fs-4 mb-0 fw-bold">New to  LogIn page </p>
                  <a class="text-primary fw-bold ms-2" routerLink="/login">Already have a account</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>