<div class="row">
  <div class="col-lg-4">
    <div class="row">
      <div class="col-lg-12 col-sm-6">
        <div class="card overflow-hidden">
          <div class="card-body p-4">
            <h5 class="card-title mb-10 fw-semibold">Match Live
              <div class="spinner-grow spinner-grow-sm text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </h5>
            <div class="row">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-8">
                    <div class="d-flex mb-2">
                      <p class="text-dark me-1 fs-3 mb-0">Team1</p>
                      <p class="fs-3 mb-0 me-1">VS</p>
                      <p class="text-dark me-1 fs-3 mb-0">Team2</p>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="d-flex mb-2">
                      <p class="fs-3 mb-0">Batting- </p>
                      <p class="text-dark me-1 fs-3 mb-0">Team1</p>
                    </div>
                  </div>
                </div>
                <table class="table table-sm">
                  <tr>
                    <th>
                      <div>
                        <span class="round-8 bg-primary rounded-circle me-2 d-inline-block"></span>
                        <span class="fs-2">Batsman</span>
                      </div>
                    </th>
                    <th><span class="fs-2">Run</span></th>
                    <th><span class="fs-2">Bowl</span></th>
                    <th><span class="fs-2">4</span></th>
                    <th><span class="fs-2">6</span></th>
                  </tr>
                  <tbody>
                    <tr>
                      <td>{{strike_batsman}} <span class="error-message"> *</span></td>
                      <td>52</td>
                      <td>35</td>
                      <td>2</td>
                      <td>1</td>
                    </tr>
                    <tr>
                      <td>{{non_strike_batsman}}</td>
                      <td>112</td>
                      <td>75</td>
                      <td>9</td>
                      <td>12</td>
                    </tr>
                  </tbody>
                  <tr>
                    <th>
                      <div class="me-3">
                        <span class="round-8 bg-danger rounded-circle me-2 d-inline-block"></span>
                        <span class="fs-2">Blower</span>
                      </div>
                    </th>
                    <th><span class="fs-2">Over</span></th>
                    <th><span class="fs-2">M</span></th>
                    <th><span class="fs-2">Run</span></th>
                    <th><span class="fs-2">Wicket</span></th>
                  </tr>
                  <tbody>
                    <tr>
                      <td><span class="fs-2">Zahir Khan</span></td>
                      <td><span class="fs-2">112</span></td>
                      <td><span class="fs-2">75</span></td>
                      <td><span class="fs-2">9</span></td>
                      <td><span class="fs-2">12</span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-sm-6">
        <div class="card">
          <div class="card-body">
            <div class="row alig n-items-start">
              <div class="col-8">
                <h5 class="card-title mb-10 fw-semibold">Current Score</h5>
                <h5 class="fw-semibold mb-3">Run- 122/3</h5>
                <div class="d-flex align-items-center pb-1">
                  <p class="fs-3 mb-0">Overs- </p>
                  <p class="text-dark me-1 fs-3 mb-0">3.5</p>
                </div>
              </div>
              <div class="col-4">
                <div class="d-flex justify-content-end">
                  <div class="spinner-grow spinner-grow-sm text-danger" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="earning"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8 d-flex align-items-strech">
    <div class="card w-100">
      <div class="card-body">
        <div class="d-flex align-items-center justify-content-between mb-10">
          <div class="">
            <h5 class="card-title fw-semibold">ScoreBook</h5>
          </div>
        </div>
        <div>
          <table class="table table-bordered table-striped">
            <tr>
              <th>1</th>
              <th>2</th>
              <th>3</th>
              <th>4</th>
              <th>5</th>
              <th>6</th>
              <th>7</th>
            </tr>
          </table>
          <button class="btn btn-danger btn-sm">Undo</button>
          <button class="btn btn-danger btn-sm" (click)="swap(strike_batsman, non_strike_batsman)">Swap Batsman</button>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-lg-6">
    <div class="row">
      <div class="col-lg-12 col-sm-6">
        <div class="mb-2"><span class="card-title fw-semibold">Delivery Information</span></div>
        <div class="card overflow-hidden">
          <div class="card-body p-4">
            <div class="">
              <form>
                <div class="row input-group">
                  <div class="col-lg-6">
                    <label>First name</label>
                    <input type="text" class="form-control" placeholder="Achyut">
                  </div>
                  <div class="col-lg-6">
                    <label>Last name</label>
                    <input type="text" class="form-control" placeholder="Achyut">
                  </div>
                </div>
                <div class="row input-group  mt-2">
                  <div class="col-lg-6">
                    <label>Email</label>
                    <input type="email" class="form-control" placeholder="achyut@gmail.com">
                  </div>
                  <div class="col-lg-6">
                    <label>City</label>
                    <input type="text" class="form-control" placeholder="Pune">
                  </div>
                </div>
                <div class="row input-group  mt-2">
                  <div class="col-lg-6">
                    <label>State</label>
                    <input type="text" class="form-control" placeholder="Maharashtra">
                  </div>
                  <div class="col-lg-3">
                    <label>State Abbrevation</label>
                    <input type="text" class="form-control" placeholder="MH">
                  </div>
                  <div class="col-lg-3">
                    <label>Zip</label>
                    <input type="text" class="form-control" placeholder="411057">
                  </div>
                </div>
                <div class="row input-group mt-2">
                  <div class="col-lg-12">
                    <label>Address</label>
                    <input type="email" class="form-control" placeholder="R16 Punawale 36">
                  </div>
                  </div>
                <button class="btn btn-sm btn-primary mt-3">Save</button>
              </form>
            </div>
           </div>
        </div>
        <div class="mb-2"><span class="card-title fw-semibold">Schduled Delivery</span></div>
        <div class="card overflow-hidden">
          <div class="card-body p-4">
            <div class="">
              <form>
                <div class="row input-group">
                  <div class="col-lg-6">
                    <label>Dates</label>
                    <input type="date" class="form-control">
                  </div>
                  <div class="col-lg-6">
                    <label>Time</label>
                    <input type="time" class="form-control">
                  </div>
                </div>
                <div class="row input-group mt-2">
                  <div class="col-lg-12">
                    <label>Note</label>
                    <input type="text" class="form-control" placeho>
                  </div>
                </div>
                <button class="btn btn-sm btn-primary mt-3">Save</button>
              </form>
            </div>
          </div>
        </div>
        <div class="mb-2"><span class="card-title fw-semibold">Payment Method</span></div>
        <div class="card overflow-hidden">
          <div class="card-body p-4">
            <div class="">
              <form>
                <div class="row input-group">
                  <div class="col-lg-4">
                    <input type="radio" class="form-check-input">&nbsp;&nbsp;
                    <label>UPI</label>
                  </div>
                  <div class="col-lg-4">
                    <input type="radio" class="form-check-input">&nbsp;&nbsp;
                    <label>Net Banking</label>
                  </div>
                  <div class="col-lg-4">
                    <input type="radio" class="form-check-input">&nbsp;&nbsp;
                    <label>Cash On Delivery</label>
                  </div>
                </div>
                <button class="btn btn-sm btn-primary mt-4">Save</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <span class="card-title fw-semibold">Order Summary</span> -->
  <div class="col-lg-6 d-flex align-items-strech">
    <div class="card w-100">
      <div class="card-body">
        <h4>Order Summary</h4>
        <div class="d-flex align-items-center justify-content-between mb-10">
          <div class="col-lg-12">
            <table class="table">
              <thead>
                <tr>
                  <th>Image</th>
                  <th>Name</th>
                  <!-- <th>Price</th> -->
                  <th>Qty</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td> <img src="../../../assets/images/products/s4.jpg" style="width: 80px; height: 80px;"> </td>
                  <td>
                    Headphone<br>
                    Rs.2899
                  </td>
                  <td>
                    <button class="btn btn-sm btn-primary p-4" (click)="changeQuntity(product1_quntity - 1, 1)"> - </button>
                    &nbsp;&nbsp;{{product1_quntity}}&nbsp;&nbsp;
                    <button class="btn btn-sm btn-primary" (click)="changeQuntity(product1_quntity + 1, 1)"> + </button>
                  </td>
                </tr>

                <tr>
                  <td> <img src="../../../assets/images/products/s7.jpg" style="width: 80px; height: 80px;"> </td>
                  <td>Red Dress<br>
                    Rs.2899
                  </td>
                  <td>
                    <button class="btn btn-sm btn-primary" (click)="changeQuntity(product2_quntity - 1, 2)"> - </button>
                    &nbsp;&nbsp;{{product2_quntity}}&nbsp;&nbsp;
                    <button class="btn btn-sm btn-primary" (click)="changeQuntity(product2_quntity + 1, 2)"> + </button>
                  </td>
                </tr>

                <tr>
                  <td> <img src="../../../assets/images/products/s11.jpg" style="width: 80px; height: 80px;"> </td>
                  <td>Teddy<br>
                    Rs.2899
                  </td>
                  <td>
                    <button class="btn btn-sm btn-primary" (click)="changeQuntity(product3_quntity - 1, 3)"> - </button>
                    &nbsp;&nbsp;{{product3_quntity}}&nbsp;&nbsp;
                    <button class="btn btn-sm btn-primary" (click)="changeQuntity(product3_quntity + 1, 3)"> + </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>