<p>score works!</p>
<h1  style ="background-color: #02685e;">BBL 2017-18</h1>
<form class="col-lg-12">
  <div class="row input-group mb-3">
  	<div class="col-lg-3 mb-3">
      <label class="form-label"> First Name<span style="color: red;">*</span></label>
      <input  type="text" placeholder="Enter first name" class="form-control">
    </div>

    <div class="col-lg-3 mb-3">
      <label class="form-label"> Middle Name <span class="required">*</span></label>
      <input  type="text" placeholder="Enter middle Name" class="form-control">
    </div>

    <div class="col-lg-3 mb-3">
      <label class="form-label"> Last Name <span class="required">*</span></label>
      <input  type="text" placeholder="Enter Last Name" class="form-control">
    </div>

    <div class="col-lg-3 mb-3">
      <label class="form-label"> Contact <span class="required">*</span></label>
      <input  type="text" placeholder="Contact" class="form-control" formControlName="contact">
    </div>
<!--   </div>
  <div class="row"> -->
    <div class="col-lg-3 mb-3">
      <label class="form-label"> Birth Date <span class="required">*</span></label>
      <input  type="date" placeholder="Birth" class="form-control">
    </div>

    <div class="col-lg-3 mb-3">
      <label class="form-label"> Gender <span class="required">*</span></label>
      <select class="form-control">
      	<option>Male</option>
      	<option>Female</option>
      </select>
    </div>
     <div class="col-lg-3 mb-3">
      <label class="form-label"> Specality  <span class="required">*</span></label>
      <select class="form-control">
      	<option>select Specality </option>
      	<option>Bowler</option>
      	<option>Bastman</option>
      	<option>Filder</option>
      </select>
    </div>
  </div>
<form>
